body::before{
    display: block;
    content: '';
    height: 70px;
}

.rounded-circle{
    width: 100px;
    height: 100px;
}

.siparis{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-img{
    width: 80%;
    margin-left: 10%;
    margin-top: 35px;
}

.brosur{
    width: 80%;
    margin-left: 10%;
    
}

.text-color:hover{
    color: green!important;
}

.nav-container{
    margin: 0 120px;
}