body::before{
    display: block;
    content: '';
    height: 70px;
}

.rounded-circle{
    width: 100px;
    height: 100px;
}

.siparis{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-img{
    width: 100%;
    margin-top: 25px;
}

